<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-primary">
  <div class="container-fluid">
  <a class="navbar-brand" style="color:white;" href="#">
      <b>NR</b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color:white;" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white;" href="/about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/education">Education</a>
          <a class="dropdown-item" href="/work">Work</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/site">About the Site</a>
        </div>
      </li>
    </ul>
    <div class="nav-item">
      <a class="nav-link" style="color:white;" href="https://www.linkedin.com/in/nathaniel-roohr-9b623ba9/">LinkedIn</a>
    </div>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
  </div>
</nav>
