<div class="container">
  <div class="row">
    <div class="col">I am a Software Engineer and System Developer working as a Senior Analyst at Accenture Federal Services. Utilizing my education from the JMU Computer Science curriculum, I have worked on building my experience and knowledge through high quality development with detailed specifications while performing other tasks that assisted my team. I have gained a better understanding of how to thrive in a business environment while maintaining my development practices learned over years of working with multiple programming languages. I hope to learn more about the software and application engineering industry in my work, as well as mastering techniques in development and spreading better practices so we can continue the advancement of our already rapidly growing technological society.</div>
  </div>
</div>
